!!!

%html
  %head
    %title ListenRate
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    %script{:lang => "javascript", :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:lang => "javascript", :type => "text/javascript", :src => "/js/index.js"}
  %body
    #content
      %input#username{:type => "text"}
      %a{:onclick => "userinfo();"} Info
